<ng-container *ngIf="isAdmin; then withPermission; else notPermission"></ng-container>

<ng-template #withPermission>
  <div class="container-main d-flex flex-column">
    <div class="row px-3 mb-4 mt-3">
      <h3> Contas </h3>
    </div>
    <div id="stock-control-container">
      <div class="d-flex flex-wrap align-items-center justify-content-between mt-3">
        <div class="col-12 col-sm-4 col-md-3 px-2">
          <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="codigo" placeholder="0000" [formControl]="code"
              (keydown)="formatCode()" (keypress)="formatCode()" (keyup)="formatCode()" (change)="formatCode()"
              [maxlength]="4">
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 px-2 d-flex justify-content-end">
          <button class="btn btn-primary" (click)="openModal()">Nova
            Conta</button>
        </div>
      </div>

      <div class="table-responsive">
        <table id="stockTable" *ngIf="data">
          <thead>
            <tr>
              <th class="col">Código</th>
              <th class="col-4">Nome</th>
              <th class="col-3">Email</th>
              <th class="col-3">Documento</th>
              <th class="col"></th>
            </tr>
          </thead>
          <tbody>

            <ng-container *ngFor="let company of data">
              <tr>
                <td class="col"> #{{ utilsService.padWithZeros(company.id) }} </td>
                <td class="col-4"> </td>
                <td class="col-3"> {{company.email ? company.email : ' -- '}} </td>
                <td class="col-3"> {{ utilsService.formatDocument(company.cnpj) }} </td>
                <td class="col">
                  <div class="d-flex">
                    <button class="btn btn-secondary me-2" (click)="permission(company)">
                      <i class="fas fa-lock"></i>
                    </button>
                    <button class="btn btn-primary me-2" (click)="update(company)">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger" (click)="delete(company)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>

            <tr *ngIf="!data.length">
              <td colspan="5" class="text-center"> Nenhuma conta encontrada </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="modalUserLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalProductLabel">{{ isEditMode ? 'Editar Conta' : 'Adicionar nova conta'
              }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <div class="row mt-2">
              <div class="col-12 col-md-6">
                <app-input-default [control]="name" type="text" label="Nome" placeHolder="Nome"></app-input-default>
              </div>
              <div class="col-12 col-md-6">
                <app-input-default [control]="lastName" type="text" label="Sobrenome"
                  placeHolder="Sobrenome"></app-input-default>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                <app-input-default [control]="document" type="text" label="Documento" placeHolder="CNPJ/CPF"
                  (change)="formatDocument()" [maxlenght]="18"></app-input-default>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                <app-input-default [control]="telephone" type="text" label="Telefone" placeHolder="(92) 99999-9999"
                  (change)="formatTelefone()" [maxlenght]="15"></app-input-default>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                <app-input-default [control]="email" type="text" label="E-mail"
                  placeHolder="exemplo@mail.com"></app-input-default>
              </div>
            </div>

            <ng-container *ngIf="isEditMode">
              <hr>
              <h5> Senha </h5>

              <div class="row mt-2">
                <div class="col-12 col-md-8">
                  <app-input-default [control]="password" type="text" label="Ultima senha gerada" placeHolder=""
                    classcontainer="mb-md-0" [disabled]="true"></app-input-default>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end align-items-end">
                  <button class="btn btn-primary" (click)="generatePassword()"> Gerar Nova </button>
                </div>
              </div>

            </ng-container>

          </div>

          <div class="modal-footer">
            <div class="row w-100 justify-content-md-end">
              <div class="col-12 col-md-6 col-lg-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalPermission" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalProductLabel"> Configuração de Permissões </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="row mt-2">
              <div class="col-12 col-md-6 col-lg-4">
                <app-input-default [control]="responsavel" type="text" label="Responsável"
                  placeHolder="Responsável"></app-input-default>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <app-input-default [control]="telefone" type="text" label="Telefone" placeHolder="Telefone"
                  (change)="formatTelefone()"></app-input-default>
              </div>
              <div class="col-12 col-lg-4">
                <app-input-default [control]="nome_empresa" type="text" label="Nome empresa"
                  placeHolder="Nome empresa"></app-input-default>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12 col-md-6 col-lg-8">
                <app-input-default [control]="emailPermission" type="text" label="E-mail"
                  placeHolder="email"></app-input-default>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <app-input-default [control]="valor_mensal" type="text" label="Valor Mensal" placeHolder="Valor Mensal"
                  (change)="changeValueFormat()"></app-input-default>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12 col-md-6 col-lg-3">
                <app-input-default [control]="limite_nfe" type="number" label="Limite NFe (Mensal)"
                  placeHolder="Limite NFe"></app-input-default>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <app-input-default [control]="limite_nfce" type="number" label="Limite NFCe (Mensal)"
                  placeHolder="Limite NFCe"></app-input-default>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <app-input-default [control]="limite_empresas" type="number" label="Limite Empresas"
                  placeHolder="Limite Empresas"></app-input-default>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <app-input-default [control]="limite_usuarios" type="number" label="Limite usuários"
                  placeHolder="Limite NFCe"></app-input-default>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12 col-md-6 col-lg-3">
                <app-input-default [control]="limite_produtos" type="number" label="Limite Produtos"
                  placeHolder="Limite NFe"></app-input-default>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <app-input-default [control]="limite_clientes" type="number" label="Limite Clientes"
                  placeHolder="Limite NFCe"></app-input-default>
              </div>
              <div class="col-12 col-md-6">
                <app-input-default [control]="date_expiration" type="date" label="Vencimento"
                  placeHolder="Vencimento"></app-input-default>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="row w-100 justify-content-md-end">
              <div class="col-12 col-md-6 col-lg-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <button type="button" class="btn btn-primary" (click)="savePermission()">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notPermission>
  <app-denied></app-denied>
</ng-template>