<div class="container-main d-flex flex-column">
  <div class="row px-3 mb-4 mt-3">
    <h3> Produtos </h3>
  </div>

  <div id="stock-control-container" class="card">
    <div class="card-header p-0">
      <div class="search-bar">
        <div class="input-search">
          <input type="text" [formControl]="search" class="" (keyup)="loadProducts()" (keypress)="loadProducts()"
            (keydown)="loadProducts()" placeholder="Pesquisar" aria-label="Pesquisar...">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </div>
    <div class="card-body" [ngClass]="{'p-0': !data.length }">
      <table id="stockTable" *ngIf="data.length">
        <thead>
          <tr>
            <th class="col">ID</th>
            <th class="col-3">Descricão</th>
            <th class="col-3">Estoque</th>
            <th class="col-2">Categoria</th>
            <th class="col-2">Subcategoria</th>
            <th class="col"></th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let product of data">
            <tr>
              <td class="col"> {{product.id}} </td>
              <td class="col-3"> {{product.description}} </td>
              <td class="col-2"> {{product.stock}} </td>
              <td class="col-2"> {{product.category?.description}} </td>
              <td class="col-2"> {{product.subcategory?.description}} </td>
              <td class="col d-flex">
                <button class="btn btn-primary me-2" (click)="update(product)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="delete(product)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalProduct">Novo
            Produto</button>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="modalProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductLabel">{{ isEditMode ? 'Editar Produto' : 'Adicionar novo produto' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="description" type="text" label="Descricão"
                  placeHolder="Ex: Coca Cola em lata"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="ncm" type="text" label="NCM" placeHolder="NCM"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="price_sale" type="text" label="Preço de venda"
                  placeHolder="Preço de venda"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="price_cost" type="text" label="Preço de custo"
                  placeHolder="Preço de custo"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-select-default [control]="id_category" label="Categoria"
                  [items]="categorySelect"></app-select-default>
              </div>
              <div class="col-6">
                <app-select-default [control]="id_subcategory" label="Subcategoria"
                  [items]="subcategorySelect"></app-select-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-select-default [control]="id_brand" label="Marca" [items]="brandsSelect"></app-select-default>
              </div>
              <div class="col-6">
                <app-select-default [control]="id_supplier" label="Fornecedor"
                  [items]="supplierSelect"></app-select-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-select-default [control]="control_stock" label="Controla Estoque"
                  [items]="controlStock"></app-select-default>
              </div>
              <div *ngIf="!isEditMode" class="col-6">
                <app-input-default [control]="stock" type="number" label="Estoque" placeHolder="Estoque"
                  [disabled]="control_stock.value === 'S' ? false : true"></app-input-default>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>