<!-- <div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <a class="navbar-brand" href="#">
        <i class="fas fa-tags"></i> Label
      </a>
    </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">Item 1</a>
      <a href="#submenu1" data-bs-toggle="collapse" class="list-group-item list-group-item-action bg-light">Submenu</a>
      <div id="submenu1" class="collapse">
        <a href="#" class="list-group-item list-group-item-action bg-light pl-5">Subitem 1</a>
        <a href="#" class="list-group-item list-group-item-action bg-light pl-5">Subitem 2</a>
      </div>
    </div>
  </div>
</div> -->

<nav class="col-md-2 d-none d-md-block bg-light sidebar px-2">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">


      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">

        <div class="list-group list-group-flush rounded">

          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link">Cadastros</a>

          <div id="submenu1" class="collapse">
            <a [routerLink]="['user']" class="nav-link">Usuários</a>
            <a [routerLink]="['suppliers']" class="nav-link">Fornecedores</a>
            <a [routerLink]="['user']" class="nav-link">Clientes</a>
            <a [routerLink]="['user']" class="nav-link">Produtos</a>
            <a [routerLink]="['brands']" class="nav-link">Marcas</a>
            <a [routerLink]="['categorys']" class="nav-link">Categorias</a>
            <a [routerLink]="['subcategorys']" class="nav-link">Subcategorias</a>
          </div>
        </div>

      </li>

      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['box']">
          Caixa
        </a>
      </li>



      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['sales']">
          Portal de vendas
        </a>
      </li>

      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['shopp']">
          Portal de compras
        </a>
      </li>

      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['routine']">
          Relatório e rotinas
        </a>
      </li>

      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['stock']">
          Controle de estoque
        </a>
      </li>

      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['finance']">
          Financeiro
        </a>
      </li>

      <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['user']">
          Usuário
        </a>
      </li>

      <!-- <li class="nav-item border-primary bg-light border shadow-lg rounded mt-2">
        <a class="nav-link" [routerLink]="['product']">
          Produto
        </a>
      </li> -->
    </ul>

  </div>
</nav>