<nav class="col-md-2 d-none d-md-block sidebar px-2">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['dashboards']">
          Dashboards
        </a>
      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <div class="list-group list-group-flush rounded">
          <a (click)="changeMenuState(true)" href="#submenu1" data-bs-toggle="collapse" class="nav-link">Cadastros</a>

          <div id="submenu1" class="collapse">
            <a [routerLink]="['company']" class="nav-link">Empresa</a>
            <a [routerLink]="['user']" class="nav-link">Usuários</a>
            <a [routerLink]="['suppliers']" class="nav-link">Fornecedores</a>
            <a [routerLink]="['client']" class="nav-link">Clientes</a>
            <a [routerLink]="['product']" class="nav-link">Produtos</a>
            <a [routerLink]="['brands']" class="nav-link">Marcas</a>
            <a [routerLink]="['categorys']" class="nav-link">Categorias</a>
            <a [routerLink]="['subcategorys']" class="nav-link">Subcategorias</a>
          </div>
        </div>

      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['box']">
          Caixa
        </a>
      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['sales']">
          Portal de vendas
        </a>
      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['shopp']">
          Portal de compras
        </a>
      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['routine']">
          Relatório e rotinas
        </a>
      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['stock']">
          Controle de estoque
        </a>
      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(true)" href="#submenufinanceiro" data-bs-toggle="collapse" class="nav-link">
          Finanças
        </a>

        <div id="submenufinanceiro" class="collapse">
          <a [routerLink]="['finance']" class="nav-link">Financeiro</a>
          <a [routerLink]="['payment']" class="nav-link">Contas a pagar</a>
          <a [routerLink]="['receive']" class="nav-link">Contas a receber</a>
          <a [routerLink]="['contas']" class="nav-link">Contas Bancárias</a>
        </div>
      </li>
    </ul>

  </div>
</nav>