<nav class="col-md-2 sidebar px-2">
  <img src="../../../../assets/images/logo _2.png" alt="" srcset="">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['dashboards']">
          Dashboards
        </a>
      </li>

      <li *ngIf="" class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['dashboards']">
          Dashboards
        </a>
      </li>

      <li *ngIf="authService.user.permissao?.showMenuRegister"
        class="nav-item border-primary border shadow-lg rounded mt-2">
        <div class="list-group list-group-flush rounded">
          <a (click)="changeMenuState(true)" href="#submenu1" data-bs-toggle="collapse" class="nav-link">Cadastros</a>

          <div id="submenu1" class="collapse">
            <!-- <a [routerLink]="['company']" class="nav-link">Empresa</a> -->
            <a [routerLink]="['accounts']" *ngIf="isAdmin" class="nav-link">Contas</a>
            <a [routerLink]="['user']" *ngIf="authService.user.permissao?.managerUsers" class="nav-link">Usuários</a>
            <a [routerLink]="['suppliers']" *ngIf="authService.user.permissao?.managerSuppliers"
              class="nav-link">Fornecedores</a>
            <a [routerLink]="['client']" *ngIf="authService.user.permissao?.managerClientes"
              class="nav-link">Clientes</a>
            <a [routerLink]="['product']" *ngIf="authService.user.permissao?.managerProdutos"
              class="nav-link">Produtos</a>
            <a [routerLink]="['brands']" *ngIf="authService.user.permissao?.managerBrands" class="nav-link">Marcas</a>
            <a [routerLink]="['categorys']" *ngIf="authService.user.permissao?.managerCategories"
              class="nav-link">Categorias</a>
            <a [routerLink]="['subcategorys']" *ngIf="authService.user.permissao?.managerSubcategories"
              class="nav-link">Subcategorias</a>
          </div>
        </div>

      </li>

      <li *ngIf="authService.user.permissao?.showMenuBox" class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['box']">
          Caixa
        </a>
      </li>

      <li *ngIf="authService.user.permissao?.showMenuSales"
        class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['sales']">
          Portal de vendas
        </a>
      </li>

      <li class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['shopp']">
          Portal de compras
        </a>
      </li>

      <li *ngIf="authService.user.permissao?.showMenuReports"
        class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['routine']">
          Relatório e rotinas
        </a>
      </li>

      <li *ngIf="authService.user.permissao?.showMenuStock"
        class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(false)" class="nav-link" [routerLink]="['stock']">
          Controle de estoque
        </a>
      </li>

      <li *ngIf="authService.user.permissao?.showMenuFinance"
        class="nav-item border-primary border shadow-lg rounded mt-2">
        <a (click)="changeMenuState(true)" href="#submenufinanceiro" data-bs-toggle="collapse" class="nav-link">
          Finanças
        </a>

        <div id="submenufinanceiro" class="collapse">
          <a [routerLink]="['finance']" *ngIf="authService.user.permissao?.managerFinance" class="nav-link">Contas</a>
          <a [routerLink]="['contas']" *ngIf="authService.user.permissao?.managerAccount" class="nav-link">Contas
            Bancárias</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
