<div class="mb-3">
  <label for="{{ id }}" class="form-label">{{label}}</label>
  <div class="d-flex">
    <select id="{{ id }}" class="form-control {{className}}" [ngClass]="{'select-group': showButton}"
      [formControl]="control">
      <option value=""> Selecione </option>
      <option *ngFor="let item of items" [value]="item.value">{{item.label}}</option>
    </select>
    <button *ngIf="showButton" (click)="onButtonAction()" class="btn btn-secondary">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
