<div class="d-flex justify-content-between">

  <div class="col-6 col-sm-2 px-3 d-flex justify-content-start align-items-center">
    <a href="javascript:;" (click)="menuClick()" class="text-white">
      <i class="fas fa-bars fa-2x"></i>
    </a>
    <!-- <a [routerLink]="['/app']">
      <img src="../../../../assets/images/logo.png" alt="Logo" class="logo">
    </a> -->
  </div>

  <div class="col-6 col-sm-8 px-3">
    <div class="d-flex justify-content-end align-items-center h-100">
      <div class="d-flex align-items-center justify-content-between">

        <button class="btn">
          <img src="../../../../assets/images/icons/message.svg" alt="">
        </button>

        <button class="btn">
          <img src="../../../../assets/images/icons/notification.svg" alt="">
        </button>

        <span class="user-name me-3" style="white-space: nowrap;"> Olá {{ authService.user.name }}#{{
          utilsService.padWithZeros(authService.user.id)
          }} </span>

        <button class="btn btn-logout" (click)="logout()"> Sair </button>
        <!-- <img src="../../../../assets/images/user.png" alt="User" class="user"> -->
      </div>
    </div>
  </div>
</div>
