<div class="d-flex justify-content-between">

  <div class="col-3 px-3">
    <a [routerLink]="['/app']">
      <img src="../../../../assets/images/logo.png" alt="Logo" class="logo">
    </a>
  </div>

  <div class="col-6 d-flex justify-content-center align-items-center">

    <div class="input-search">
      <input type="text" class="" placeholder="Pesquisar" aria-label="Pesquisar...">
      <i class="fas fa-search"></i>
    </div>

  </div>

  <div class="col-3 px-3">
    <div class="d-flex justify-content-end align-items-center h-100">
      <div class="d-flex align-items-center">

        <button class="btn">
          <img src="../../../../assets/images/icons/message.svg" class="me-3" alt="">
        </button>

        <button class="btn">
          <img src="../../../../assets/images/icons/notification.svg" class="me-3" alt="">
        </button>

        <span class="user-name me-3">Olá Matheus Souza </span>

        <button class="btn btn-logout"> Sair </button>
        <!-- <img src="../../../../assets/images/user.png" alt="User" class="user"> -->
      </div>
    </div>
  </div>
</div>