<div class="container-login">
  <div class="form-container col-12 col-md-8 card p-4 ">
    <div class="form mt-2">
      <div class="row text-start">
        <h4 *ngIf="step === 1"> Cadastre sua empresa </h4>
        <h4 *ngIf="step === 2"> Dados de Login </h4>
      </div>

      <form *ngIf="step === 1">
        <div class="row mt-3">
          <div class="col-12">
            <app-input-default [control]="razao_social" type="text" label="Razão Social"
              placeHolder="Razão Social"></app-input-default>
          </div>
          <div class="col-12">
            <app-input-default [control]="nome_fantasia" type="text" label="Nome Fantasia"
              placeHolder="Nome Fantasia"></app-input-default>
          </div>
          <div class="col-12">
            <app-input-default [control]="cnpj" type="text" label="CNPJ"
              placeHolder="Ex: 00.000.000/0001-00"></app-input-default>
          </div>

          <div class="col-12">
            <app-input-default [control]="email" type="text" label="Email" placeHolder="Email"></app-input-default>
          </div>

          <div class="col-12">
            <app-input-default [control]="cep" type="text" label="CEP" placeHolder="CEP"></app-input-default>
          </div>

          <div class="col-12">
            <app-input-default [control]="logradouro" type="text" label="Logradouro"
              placeHolder="Logradouro"></app-input-default>
          </div>

          <div class="d-flex">
            <div class="col-4">
              <app-input-default [control]="bairro" type="text" label="Bairro" placeHolder="Bairro"></app-input-default>
            </div>
            <div class="col-4 px-2">
              <app-input-default [control]="cidade" type="text" label="Cidade" placeHolder="Cidade"></app-input-default>
            </div>
            <div class="col-4">
              <app-input-default [control]="uf" type="text" label="Estado" placeHolder="Estado"></app-input-default>
            </div>
          </div>

          <div class="d-flex mt-4 justify-content-between mb-4">
            <a type="button" class="btn btn-danger col-2" routerLink="../login">Voltar</a>
            <button type="button" class="btn btn-primary col-2" (click)="nextStep()">Seguinte</button>
          </div>

        </div>
      </form>

      <form *ngIf="step === 2">
        <div class="row mt-3">
          <div class="col-12">
            <app-input-default [control]="userName" type="text" label="Nome"
              placeHolder="Ex: Matheus Souza"></app-input-default>
          </div>
          <div class="col-12">
            <app-input-default [control]="userEmail" type="text" label="Email" placeHolder="Email"></app-input-default>
          </div>
          <div class="col-12">
            <app-input-default [control]="userPassword" type="password" label="Senha"
              placeHolder="*****"></app-input-default>
          </div>

          <div class="d-flex mt-4 justify-content-between mb-4">
            <button type="button" class="btn btn-danger col-2" (click)="previewStep()">Voltar</button>
            <button type="button" class="btn btn-primary col-2" (click)="save()">Salvar</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>