<div class="container-main d-flex flex-column">
  <div class="row px-3 mb-4">
    <h3> Vendas </h3>
  </div>
  <div id="stock-control-container">
    <div class="search-bar">
      <div class="input-search">
        <input type="text" class="" placeholder="Pesquisar" aria-label="Pesquisar...">
        <i class="fas fa-search"></i>
      </div>
    </div>

    <div class="row align-items-center justify-content-between mt-3">
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-3 d-flex justify-content-end">
        <a [routerLink]="['/app/sales/pdv']" class="btn btn-primary me-2" data-bs-toggle="modal"
          data-bs-target="#modalProduct">Nova
          Venda</a>
      </div>
    </div>

    <table id="stockTable" *ngIf="data">
      <thead>
        <tr>
          <th class="col">ID</th>
          <th class="col-3">Descricão</th>
          <th class="col-2">Valor</th>
          <th class="col-3">Data Hora</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let sale of data">
          <tr>
            <td class="col"> {{ sale.id }} </td>
            <td class="col-3"> {{ sale.user?.name }} </td>
            <td class="col-2"> {{ sale.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </td>
            <td class="col-3"> {{ formatDateTime(sale.date_hour || '') }} </td>
            <td class="col-2 text-center">
              <a [routerLink]="['/app/sales/pdv/' + sale.id]" class="btn btn-primary me-2">Ver</a>
              <a (click)="delete(sale.id || 0)" class="btn btn-danger">Excluir</a>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>

  </div>
</div>