<ng-container *ngIf="authService.user.permissao?.managerBox; then permission; else notPermission"></ng-container>

<ng-template #permission>
  <div class="container-main d-flex flex-column">
    <div class="row px-3 mt-4 mb-4">
      <h3> Caixas </h3>
    </div>

    <div id="stock-control-container">
      <div class="search-bar">
        <div class="input-search">
          <input type="text" class="" placeholder="Pesquisar" aria-label="Pesquisar...">
          <i class="fas fa-search"></i>
        </div>
      </div>

      <table id="stockTable" *ngIf="data">
        <thead>
          <tr>
            <th class="col-2">ID</th>
            <th class="col-4"> Usuário </th>
            <th class="col-3">Valor inicial</th>
            <th class="col-3">Status</th>
            <th class="col"></th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let box of data">
            <tr>
              <td class="col-2"> {{box.id}} </td>
              <td class="col-4"> {{box.user?.name}} </td>
              <td class="col-3"> {{box.value_init | currency:'BRL':'symbol':'1.2-2':'pt-BR'}} </td>
              <td class="col-2"> {{box.status === 'AB' ? 'Aberto' : 'Fechado'}} </td>
              <td class="col">
                <a [routerLink]="['../close/' + box.id]" *ngIf="box.status === 'AB'" class="btn btn-danger">
                  Fechar
                </a>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>

    </div>
  </div>
</ng-template>

<ng-template #notPermission>
  <app-denied></app-denied>
</ng-template>