<div class="container-main d-flex flex-column">
  <div class="row px-3 mb-2 mt-3">
    <h3> Estoque e Produtos </h3>
  </div>

  <div class="row px-3 mt-2">
    <div class="col-12">

      <div class="search-bar">
        <div class="input-search">
          <input type="text" class="" placeholder="Pesquisar" aria-label="Pesquisar...">
          <i class="fas fa-search"></i>
        </div>
      </div>

      <ng-container *ngIf="view === 'table'; then table; else chart"></ng-container>
    </div>

    <ng-template #table>
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
          <p class="mb-0"> Dados de Vendas </p>

          <div class="d-flex">
            <button class="btn" (click)="changeView('table')" data-toggle="tooltip" data-placement="top"
              title="Relatórios">
              <i class="fas fa-file-alt"></i>
            </button>
            <button class="btn" (click)="changeView('chart')" data-toggle="tooltip" data-placement="top"
              title="Gráficos">
              <i class="fas fa-chart-pie"></i>
            </button>
          </div>
        </div>
        <div *ngIf="!products.length" class="card-body text-center">
          Nenhum resultado encontrado.
        </div>

        <div *ngIf="products.length" class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Preço Custo</th>
                <th>Preço Venda</th>
                <th>Estoque atual</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td> {{ product.description }} </td>
                <td> {{ product.price_cost | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </td>
                <td> {{ product.price_sale | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </td>
                <td> {{ product.stock }} </td>
                <td>
                  <button class="btn btn-secondary" (click)="generatePDF(product)" data-toggle="tooltip"
                    data-placement="top" title="Relatório">
                    <i class="fas fa-print"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <p> Total de custo </p>
            <p> {{totalCost | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </p>
          </div>
          <div class="d-flex justify-content-between">
            <p> Total de preço venda </p>
            <p> {{ totalSale | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </p>
          </div>
          <div class="d-flex justify-content-between">
            <p> Total em estoque </p>
            <p> {{ totalStock }} </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #chart>
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
          <p class="mb-0"> Dados de Vendas </p>

          <div class="d-flex">
            <button class="btn" (click)="changeView('table')" data-toggle="tooltip" data-placement="top"
              title="Relatórios">
              <i class="fas fa-file-alt"></i>
            </button>
            <button class="btn" (click)="changeView('chart')" data-toggle="tooltip" data-placement="top"
              title="Gráficos">
              <i class="fas fa-chart-pie"></i>
            </button>
          </div>
        </div>
        <div *ngIf="!products.length" class="card-body text-center">
          Nenhum resultado encontrado.
        </div>

        <div *ngIf="products.length" class="card-body text-center">
          <div class="row mt-3">
            <div class="col-12 col-md-6">
              <!-- <app-chart [chartData]="chartPieClient"></app-chart> -->
            </div>
            <div class="col-12 col-md-6">
              <!-- <app-chart [chartData]="chartPieClientTotal"></app-chart> -->
            </div>
          </div>
        </div>

        <div class="card-footer"></div>
      </div>
    </ng-template>
  </div>
</div>
