.card-drop {
  cursor: pointer;

  span {
    font-size: 1rem;

    &:hover {
      color: #007bff;
    }
  }
}

.img-container {
  display: flex;
  gap: 10px;

  .thumb-image {
    width: 100px;
    height: 100px;
    border-radius: 0.25rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;
    }

    button {
      border: none;
      width: 100%;
      height: 30px;
      color: #eb4034;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.8);
      position: relative;
      top: -30px;
      font-size: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}