.container-login {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); // Altere o último valor para ajustar a opacidade
  }

  .logo {
    text-align: center;

    img {
      width: 150px;
      height: auto;
    }
  }

  p,
  a {
    font-size: 0.8rem;
    color: #868686;
  }

  a {
    font-weight: bolder;
    color: #0074EC;
  }
}