<div class="container-main d-flex flex-column justify-content-between">
  <!-- <div class="input-group mb-3">
    <input type="text" class="form-control   " placeholder="Selecionar vendedor">
    <button onclick="Novo()" type="button" class="btn btn-success"><i class=""></i>Novo cliente</button>
    <input type="text" class="form-control " id="searchInput" placeholder=" Pesquisa cliente....">
  </div> -->

  <div class="row px-3 py-2">
    <div class="col-md-12 offset-md-0">
      <div class="custom-input-group  mt-0 ">
        <button id="btTeste" class="col-md-12  rounded-0" data-bs-toggle="modal"
          data-bs-target="#modalProduct">Adicionar
          Produtos</button>
        <input type="text" [formControl]="search" class="form-control p-3 btn btn" (keypress)="loadProducts($event)"
          placeholder="Pesquisar">
      </div>
    </div>

    <div class="col-md-12">
      <div class="container-products">
        <ng-container *ngIf="currentSale">

          <h4 *ngIf="currentSale.products?.length" class="my-3"> Produtos </h4>

          <div *ngFor="let productSale of currentSale.products" class="card bg-light p-2 d-flex flex-row my-2">
            <div class="col-6 d-flex align-items-center">
              {{ productSale.product?.description }}
            </div>
            <div class="col-2 d-flex align-items-center">
              {{ productSale.quantity }}
            </div>
            <div class="col-2 d-flex align-items-center">
              {{ productSale.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </div>
            <div class="col d-flex justify-content-center">
              <button class="btn btn-success mx-2"> <i class="fa fa-edit"></i> </button>
              <button class="btn btn-danger" (click)="deleteProduct(productSale)"> <i class="fa fa-trash"></i> </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row px-3 container-footer">
    <div class="col-md-12">
      <div class="custom-footer">
        <div class="row justify-content-center">
          <div class="col-md-4 py-2 text-center">
            <hr style="background-color: #ffffff;">
            <h6>Total</h6>
            <span id="totalAmount">
              <h4> {{ total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </h4>
            </span>
            <button class="btn btn-success col-md-6" (click)="openModalPayment()">Continuar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductLabel">Adicionar novo produto
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="description" type="text" label="Descricão"
                  placeHolder="Ex: Coca Cola em lata"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="ncm" type="text" label="NCM" placeHolder="NCM"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="price_sale" type="text" label="Preço de venda"
                  placeHolder="Preço de venda"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="price_cost" type="text" label="Preço de custo"
                  placeHolder="Preço de custo"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-select-default [control]="id_category" label="Categoria"
                  [items]="categorySelect"></app-select-default>
              </div>
              <div class="col-6">
                <app-select-default [control]="id_subcategory" label="Subcategoria"
                  [items]="subcategorySelect"></app-select-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-select-default [control]="id_brand" label="Marca" [items]="brandsSelect"></app-select-default>
              </div>
              <div class="col-6">
                <app-select-default [control]="id_supplier" label="Fornecedor"
                  [items]="supplierSelect"></app-select-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-select-default [control]="control_stock" label="Controla Estoque"
                  [items]="controlStock"></app-select-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="stock" type="text" label="Estoque" placeHolder="Estoque"
                  [disabled]="control_stock.value === 'S' ? false : true"></app-input-default>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAddProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductLabel">Adicionar produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="row">
              <div class="col-3">
                <app-input-quantity [control]="quantity" label="Quantidade" placeHolder=""
                  (change)="changeQuantity($event)"></app-input-quantity>
              </div>
              <div class="col-3">
                <app-input-default [control]="value" type="text" classname="text-center disabled" label="Valor custo"
                  placeHolder="" [disabled]="true"></app-input-default>
              </div>
              <div class="col-3">
                <app-input-default [control]="value_sale" classname="text-center" type="text" label="Valor Venda"
                  placeHolder="" [disabled]="true"></app-input-default>
              </div>
              <div class="col-3">
                <app-input-default [control]="total_value" classname="text-center" type="text" label="Total"
                  placeHolder="" [disabled]="true"></app-input-default>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <app-input-default [control]="desconto_percentual" classname="text-center" type="number"
                  label="Desconto em %" placeHolder="" (change)="changeDiscount()"></app-input-default>
              </div>
              <div class="col-3">
                <app-input-default [control]="desconto" classname="text-center" type="text" label="Desconto em R$"
                  placeHolder="" (change)="changeDiscountValue()"></app-input-default>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="addProductToSale()">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalListProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">

          <table id="stockTable" *ngIf="products">
            <thead>
              <tr>
                <th class="col-11">Produto</th>
                <th class="col"></th>
              </tr>
            </thead>
            <tbody>

              <ng-container *ngFor="let product of products">
                <tr>
                  <td class="col-11"> {{ product.description }} </td>
                  <td class="col d-flex">
                    <button class="btn text-white bg-success" (click)="verifySale(product)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductLabel">Finalizar Venda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="bcard card h-100" style="min-height: 80vh">
            <div class="card-body p-3">
              <div class="row">

                <div class="col-12 d-flex justify-content-between">
                  <button class="btn btn-success col-2 btn-pagamento"
                    (click)="openModalPaymentValue(1)">DINHEIRO</button>
                  <button class="btn btn-primary col-2 btn-pagamento" (click)="openModalPaymentValue(2)">DÉBITO</button>
                  <button class="btn btn-secondary col-2 btn-pagamento"
                    (click)="openModalPaymentValue(3)">CRÉDITO</button>
                  <button class="btn btn-danger col-2 btn-pagamento" (click)="openModalPaymentValue(4)">PIX</button>
                </div>

              </div>
              <hr class="border-none border-t-3 brc-grey-l2 border-double">
              <div class="row">
                <div class="col-7 cards-container mt-3 mt-sm-0" id="card-container-6">
                  <div class="card dcard p-1 bgc-secondary-l3" id="card-6" style="min-height: 60vh">
                    <div class="card-body p-1 p-sm-2 p-lg-3" id="divFormasPagto">

                      <div *ngFor="let form of paymentForms; let index = index"
                        class="card h-100 d-flex flex-column mt-2 mx-2 px-2 py-3">
                        <div class="row">
                          <div class="col-2">
                            <span class="form-icon {{ form.class }}">
                              <i class="text-white {{ form.icon }} text-170"></i>
                            </span>
                          </div>
                          <div class="col-5 mt-3">
                            <p class="text-130 font-bold mb-0">{{ form.label }}</p>
                          </div>
                          <div class="col-3 text-right mt-3">
                            <p class="text-130 font-bold mb-0 mr-3">{{ form.value |
                              currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
                          </div>
                          <div class="col-2 text-right mt-3 text-center">
                            <button type="button"
                              class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-danger btn-a-lighter-danger"
                              (click)="deletPaymentForm(form)">
                              <i class="fa fa-trash-alt fa-2x"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-5 cards-container mt-3 mt-sm-0" id="card-container-6">
                  <div class="card dcard p-1 bgc-secondary-l3" id="card-6" style="min-height: 60vh">
                    <div class="card-body p-1 p-sm-2 p-lg-3">

                      <div class="card mt-3" id="card-7">
                        <div class="card-body p-0">
                          <table
                            class="table table-sm table-striped table-bordered table-hover brc-black-tp10 mb-0 text-grey">
                            <tbody>
                              <tr class="bgc-h-yellow-l3">
                                <td class="text-600 text-dark align-middle">
                                  TROCO
                                </td>

                                <td class="text-green-m1 text-180 text-600 text-right">
                                  {{ troco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                              </tr>

                              <tr class="bgc-h-yellow-l3">
                                <td class="text-600 text-dark align-middle">
                                  TOTAL PAGO
                                </td>

                                <td class="text-green-m1 text-180 text-600 text-right" id="txtTotPago">
                                  {{ totalPayment | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                              </tr>

                              <tr class="bgc-h-yellow-l3">
                                <td class="text-600 text-dark align-middle">
                                  FALTA PAGAR
                                </td>

                                <td class="text-orange-m1 text-180 text-600 text-right" id="txtTotAPagar">
                                  {{ (total - totalPayment) >= 0 ? (total - totalPayment |
                                  currency:'BRL':'symbol':'1.2-2':'pt-BR' ) : 0 |
                                  currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                                </td>
                              </tr>

                              <tr class="bgc-h-yellow-l3 d-none" id="trTotCDesconto">
                                <td class="text-600 text-dark">
                                  TOTAL C/ DESCONTO
                                </td>

                                <td class="text-green-m1 text-180 text-600 text-right" id="txtTotCDesconto">
                                  <span class="text-dark-tp4 text-sm">R$</span> 0,00
                                </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="2" class="text-center">
                                  <button id=" btnFinalizarVenda" onclick="finalizarVendaPDV(0,1)" type="button"
                                    class="btn btn-lg btn-success btn-block">
                                    <i class="fa fa-shopping-cart"></i>
                                    FINALIZAR
                                  </button>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <div class="row">
                  <div class="col-12 text-140 font-bold" id="txtTotalPagto" style="text-align: end; font-weight: bold;">
                    TOTAL DA VENDA {{ total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalOpenBox" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductLabel">Abrir Caixa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="row mt-3">
              <app-input-default [control]="valueBox" type="text" label="Valor de abertura"
                placeHolder="0.00"></app-input-default>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveBox()">Abrir</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalValorVenda" tabindex="-1" data-backdrop="static" data-keyboard="false"
    aria-labelledby="modalImpressaoLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-none">
          <h5 class="modal-title" id="modalValorVendaTitle"></h5>
        </div>
        <div class="modal-body d-flex flex-wrap justify-content-center">
          <input type="text" [formControl]="paymentValue" class="input-money mask-money col-10">

          <button type="button" class="btn btn-danger col-3 m-3" (click)="closeModal()"> SAIR
          </button>
          <button type="button" class="btn btn-success col-4 m-3" (click)="applyPayment()"> APLICAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>