.custom-input-group {
  border: 2px solid #007bff;
  border-radius: 3px;
  background-color: #f1f3f4;

  button {
    width: 100%;
  }
}

.container-footer {
  .custom-footer {
    height: auto;
    min-height: 20px;
    background-color: #007bff;
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
  }
}

.container-products {
  height: auto;
  min-height: 200px;
  max-height: 700px;
  overflow-y: auto;
}

#btTeste:hover {
  background-color: #007bff !important;
}

#btTeste {
  background-color: #007bff !important;
  color: white;
  border: none;
  padding: 10px;
}

#modalListProduct table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#modalListProduct th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

#modalListProduct th {
  background-color: #2196F3;
  color: #fff;
}

.form-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-bold {
  font-weight: bold !important;
}

.input-money {
  min-height: 65px;
  width: 350px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #aaa;
  text-align: center;
  padding: 0;
  font-size: 38px;
  color: #aaa;
}

.btn-portion {
  .active {
    background-color: #198754;
    border-color: #198754;
  }
}

img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.input-container {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid darken($color: #2196F3, $amount: 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 1030;
  background-color: #fff;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  button {
    font-weight: bold;
    font-size: 1.2em;
    width: 40px;
  }

  input {
    width: 90%;
    border: none;
    background-color: transparent;
    font-weight: bold;

    &::placeholder {
      color: #cfcfcf;
      font-weight: 300;
    }

    &:focus {
      outline: none;
    }
  }
}

.search-container {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: #fff;
  background-color: #f0f0f0;
  position: relative;
  top: -20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1000;
}

.thumb-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 0.25rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }
}

.product-view {
  display: flex;
  align-items: center;

  .btn-add-product {
    width: 79px;
  }

  div {
    flex: 1;
  }
}

.img-fluid {
  width: 50px;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}