@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";

@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#pass {
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.p-component {
  width: 100% !important;
  padding: 5px;

  a {
    color: #0a58ca;
    text-decoration: none;
  }

  .p-panelmenu-panel {
    .p-panelmenu-header-content {
      padding: 1.25rem;
      border: 1px solid #0a58ca !important;
      color: #0a58ca !important;
      font-weight: 700;
    }
  }
}

.ng-trigger {
  padding: 5px;

  ul {
    padding: 10px;
    margin: 0;

    a {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
  }
}

// .container-main {
//   display: grid;
//   grid-template-columns: 10vw 90vw;
//   grid-template-rows: 7vh 88vh 5vh;
//   grid-template-areas: "header header" "sidenav content" "sidenav footer";
// }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header {
  color: #fff;
  background-color: #2D9CDB;
  width: 100vw;
  padding: 5px;
  height: auto;
}

aside {
  display: block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50px;
  bottom: 0;
  z-index: 5;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 60px;
  transition: transform 1000ms;
  overflow-y: auto;
  scrollbar-width: none;
  width: auto;
  min-width: 205px;
  /* Para Firefox */

  &::-webkit-scrollbar {
    display: none;
    /* Para Chrome, Safari e Opera */
  }
}

main {
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 30px;

  .container-main {
    width: 95%;
    margin: auto;
    min-height: calc(100vh - 80px);
  }
}

footer {
  margin-left: 200px;
  margin-top: 50px;
  width: calc(100vw - 200px);
  padding: 5px;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.input-search {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  width: 100%;
  color: #3a3a3a;

  display: flex;

  justify-content: center;
  align-items: center;

  input {
    padding: 0px;
    border: 0;
    border-radius: 0;
    width: 100%;

    &:focus {
      outline: none !important;
      border: none !important;
    }
  }
}

.main-close {
  margin: 50px auto !important;
}

.close {
  display: none !important;
  width: 0px !important;
  padding: 0px !important;
}

.footer-close {
  margin-left: 0px !important;
  width: 100vw;
}

.text-justify {
  text-align: justify;
}

.card-text {
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

.card-blue {
  background-color: #2D9CDB;
  color: #fff;
}

.card-orange {
  background-color: #F2994A;
  color: #fff;
}

.card-red {
  background-color: #EB5757;
  color: #fff;
}

.card-yellow {
  background-color: #F2C94C;
  color: #fff;
}

.card-green {
  background-color: #27AE60;
  color: #fff;
}

.text-success {
  color: #27AE60;
}

.p-dropdown-clear-icon {
  position: absolute;
  top: 10px;
}