.custom-container {
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 3px 2px 510px;
  /* Adjust padding as needed */
  margin-top: 10;
  /* Remove top margin */
  width: 100%;
}

.custom-input-group {
  border: 2px solid #007bff;
  border-radius: 3px;
  background-color: #f1f3f4;
}

.custom-footer {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 1px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#btTeste:hover {
  background-color: #007bff !important;
}

#btTeste {
  background-color: #007bff !important;
  color: white;
  border: none;
  padding: 10px;
}