#stock-control-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

#stock-control-container table {
  width: 100%;
  border-collapse: collapse;
}

#stock-control-container th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

#stock-control-container th {
  background-color: #2196F3;
  color: #fff;
}

#stock-control-container .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}