<div class="container-main d-flex flex-column">
  <div class="row px-3 mb-4 mt-3">
    <h3> Financeiro </h3>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-column px-2 px-md-4 mt-3">
        <form [formGroup]="clientForm" class="row">
          <div class="col-12 col-md-10">
            <label class="mb-2"><span> Cliente </span></label>
            <p-dropdown [options]="clients" formControlName="client" optionValue="id" optionLabel="name" [filter]="true"
              placeholder="Pesquisar por cliente" emptyMessage="Nenhum cliente encontrado" [showClear]="true"
              emptyFilterMessage="Nenhum cliente encontrado" [resetFilterOnHide]="true" (onChange)="loadFinaces()">
            </p-dropdown>
          </div>
          <div class="col-12 col-md-2 d-flex align-items-end">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalFinance"
              class="btn btn-primary col-12 mt-2 mt-md-4"> Novo </button>
          </div>
        </form>

        <div class="row mt-3">
          <div class="col-12 col-md-4">
            <app-input-default [control]="date_init" type="date" label="Data inicial" placeHolder="dd/mm/aaaa"
              (change)="loadFinaces()"></app-input-default>
          </div>

          <div class="col-12 col-md-8">
            <app-select-default [control]="status_pay" label="Status" [items]="statusOptions" (change)="loadFinaces()">
            </app-select-default>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <app-input-default [control]="date_end" type="date" label="Data final" placeHolder="dd/mm/aaaa"
              (change)="loadFinaces()"></app-input-default>
          </div>

          <div class="col-12 col-md-8">
            <app-select-default [control]="formpay" label="Forma de Pagamento" [items]="payForms"
              (change)="loadFinaces()">
            </app-select-default>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="stock-control-container" class="mt-3">
    <div *ngIf="totalLate > 0 || totalDay > 0" class="row align-items-center justify-content-between mt-3 px-5">
      <div *ngIf="totalLate > 0" class="alert alert-danger col-12" role="alert">
        Você tem <strong> {{ totalLate }} </strong> contas atrasadas
      </div>
      <div *ngIf="totalDay > 0" class="alert alert-warning col-12" role="alert">
        Você tem <strong> {{ totalDay }} </strong> contas que venceram hoje
      </div>
    </div>

    <div class="table-responsive">
      <table *ngIf="data">
        <thead>
          <tr>
            <th class="col">#</th>
            <th class="col-2">Credor</th>
            <th class="col-2">Valor</th>
            <th class="col-3">Data de Compra</th>
            <th class="col-3">Data de vencimento</th>
            <th class="col"></th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let conta of finances">
            <tr>
              <td class="col"> {{conta.id}} </td>
              <td class="col-2"> {{ conta.clientData?.name }} </td>
              <td class="col-4"> {{ conta.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </td>
              <td class="col-2"> {{ conta.date_finance | date:'dd/MM/yyyy' }} </td>
              <td class="col-2"> {{ conta.date_expiration | date:'dd/MM/yyyy' }} </td>
              <td class="col">
                <div *ngIf="conta.status === 'PE'" class="d-flex h-100">
                  <button class="btn btn-secondary me-2" (click)="payment(conta)" data-toggle="tooltip"
                    data-placement="top" title="Pagamento">
                    <i class="fas fa-long-arrow-alt-down"></i>
                  </button>
                  <button class="btn btn-primary me-2" (click)="update(conta)" data-toggle="tooltip"
                    data-placement="top" title="Editar">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" (click)="delete(conta)" data-toggle="tooltip" data-placement="top"
                    title="Deletar">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>

                <div *ngIf="conta.status === 'PG'" class="text-success text-center">
                  <i class="fas fa-check-double"></i> Conta Paga
                </div>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="finances.length === 0">
            <td colspan="6" class="text-center"> Nenhum registro encontrado </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modalFinance" tabindex="-1" aria-labelledby="modalFinanceLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFinanceLabel">{{ isEditMode ? 'Editar Conta' : 'Adicionar nova conta' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="save()">
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-md-4">
              <app-input-default [control]="value" (change)="changeValueFormat()" type="text" label="Valor"
                placeHolder="0,00"></app-input-default>
            </div>

            <div class="col-12 col-md-8">
              <app-select-default [control]="payform" label="Forma de Pagamento" [items]="formPay"></app-select-default>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <app-select-default [control]="client" label="Cliente/Parceiro"
                [items]="clientOptions"></app-select-default>
            </div>

            <div class="col-12 col-md-6">
              <app-input-default [control]="number_order" type="text" label="Número do pedido"></app-input-default>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-4">
              <app-select-default [control]="wild" label="Natureza" [items]="wildOptions"></app-select-default>
            </div>

            <div class="col-12 col-md-4">
              <app-select-default [control]="type" label="Tipo" [items]="typeOptions"></app-select-default>
            </div>

            <div class="col-12 col-md-4">
              <app-input-default [control]="portion_value" type="text" label="Parcela"></app-input-default>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <app-input-default [control]="date_finance" type="date" label="Data Financeiro"></app-input-default>
            </div>

            <div class="col-12 col-md-6">
              <app-input-default [control]="date_expiration" type="date" label="Data Vencimento"></app-input-default>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <app-input-default [control]="observation" type="text" label="Observações"></app-input-default>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalProductLabel">Finalizar Conta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="bcard card h-100">
          <div class="card-body p-3">

            <div class="row">
              <div class="col-6">
                <div class="card card-blue">
                  <div class="card-body">
                    <p> Total </p>
                    <h4> {{ total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </h4>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="card card-green">
                  <div class="card-body">
                    <p> Total Pago </p>
                    <h4> {{ totalPayment | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 col-md-3">
                <app-select-default [control]="paymentType" label="" [items]="paymentTypeOptions"></app-select-default>
              </div>

              <div class="col-12 col-md-3">
                <app-input-default [control]="datePay" type="date" label=""
                  placeHolder="dd/mm/yyyy"></app-input-default>
              </div>

              <div class="col-12 col-md-4">
                <app-input-default [control]="paymentValue" (change)="changeValueFormat()" type="text" label=""
                  placeHolder="0.00"></app-input-default>
              </div>

              <div class="col-12 col-md-2 mt-4">
                <button (click)="applyPayment()" class="btn btn-success"
                  [ngClass]="{'disabled': totalPayment >= total}"> <i class="fas fa-plus"></i> </button>
              </div>
            </div>

            <div *ngIf="paymentForms.length" class="row">
              <div class="col-12">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let payment of paymentForms">
                      <td> {{ payment.label }} </td>
                      <td> {{ payment.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} </td>
                      <td> {{ payment.date | date:'dd/MM/yyyy' }} </td>
                      <td> <button class="btn btn-danger" (click)="deletPaymentForm(payment)"> <i
                            class="fa fa-trash"></i>
                        </button> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <button (click)="finishedFinance()" class="btn btn-success"
                  [ngClass]="{'disabled': totalPayment < total}">Finalizar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
