<div class="container-main d-flex flex-column">
  <div class="row px-3 mb-4">
    <h3> Clientes </h3>
  </div>
  <div id="stock-control-container">
    <div class="search-bar">
      <div class="input-search">
        <input type="text" class="" placeholder="Pesquisar" aria-label="Pesquisar...">
        <i class="fas fa-search"></i>
      </div>
    </div>

    <div class="row align-items-center justify-content-between mt-3">
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-3 d-flex justify-content-end">
        <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalProduct">Novo Cliente</button>
      </div>
    </div>

    <table id="stockTable" *ngIf="data">
      <thead>
        <tr>
          <th class="col-2">ID</th>
          <th class="col-5">Nome</th>
          <th class="col-4">Documento</th>
          <th class="col"></th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let client of data">
          <tr>
            <td class="col-2"> {{client.id}} </td>
            <td class="col-5"> {{client.nome}} </td>
            <td class="col-4"> {{client.documento}} </td>
            <td class="col d-flex">
              <button class="btn btn-primary me-2" (click)="update(client)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="delete(client)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>

  </div>

  <div class="modal fade" id="modalProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductLabel">{{ isEditMode ? 'Editar Cliente' : 'Adicionar novo cliente' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="nome" type="text" label="Nome" placeHolder="nome"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="apelido" type="text" label="Apelido"
                  placeHolder="apelido"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="razao_social" type="text" label="Razão Social"
                  placeHolder="Razão Social"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="rg_inscricao" type="text" label="RG/N° Inscrição"
                  placeHolder="RG/N° Inscrição"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="email" type="text" label="Email" placeHolder="Email"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="celular" type="text" label="Celular"
                  placeHolder="Celular"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="telefone" type="text" label="Telefone"
                  placeHolder="Telefone"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="documento" type="text" label="Documento"
                  placeHolder="Documento"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <app-input-default [control]="cep" type="text" label="CEP" placeHolder="CEP"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="endereco" type="text" label="Endereço"
                  placeHolder="Endereço"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="cidade" type="text" label="Cidade"
                  placeHolder="cidade"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="numero" type="text" label="Número"
                  placeHolder="Número"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="bairro" type="text" label="Bairro"
                  placeHolder="Bairro"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="complemento" type="text" label="Complemento"
                  placeHolder="Complemento"></app-input-default>
              </div>
              <div class="col-6">
                <app-input-default [control]="data_nascimento" type="date" label="Data Nascimento"
                  placeHolder="Data Nascimento"></app-input-default>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-input-default [control]="icms" type="text" label="Icms" placeHolder="Icms"></app-input-default>
              </div>
              <div class="col-6">
                <app-select-default [control]="genero" label="Gênero" placeHolder="Gênero"
                  [items]="generoOptions"></app-select-default>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>